// HEX COLORS
$yellow: #f4d04e;
$white: #ffffff;
$dark-gray: #111111;
$gray: #6b6b6b;

// RGB COLORS
$yellow-rgb: rgb(244, 208, 78);
$white-rgb: rgb(255, 255, 255);
$dark-gray-rgb: rgb(17, 17, 17);
$gray-rgb: rgb(107, 107, 107);

// HSL COLORS
$yellow-hsl: hsl(47, 88%, 63%);
$white-hsl: hsl(0, 0%, 100%);
$dark-gray-hsl: hsl(0, 0%, 7%);
$gray-hsl: hsl(0, 0%, 42%);

// FONT FAMILY
$font-family-primary: 'Figtree', sans-serif;

// SPACING VARIABLES
$spacing-1: 1.5rem;
$spacing-2: 0.75rem;
$spacing-3: 0.5rem;
$spacing-4: 0.25rem;